In [42]:
import pandas as pd
df = pd.read_csv('homeprices.csv')

In [5]:
dummies =pd.get_dummies(df.town)

In [29]:
merged = pd.concat([df, dummies], axis ='columns')
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [30]:
merged.drop(['town', 'west windsor'], axis = 'columns', inplace = True)
merged

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [13]:
from sklearn.linear_model import  LinearRegression
model = LinearRegression()

In [21]:
X = merged.drop(['price'], axis = 'columns')
y = merged.price

In [24]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
model.predict([[2800,0,1]])

array([590775.63964739])

In [26]:
model.predict([[3400,0,0]])

array([681241.66845839])

In [27]:
model.score(X,y)

0.9573929037221873

In [28]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [43]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [54]:
X = dfle[['town', 'area']].values
X
y = dfle.price
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [47]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features = [0])

In [58]:
X  =ohe.fit_transform(X).toarray()
X = X[:,1:]
X

array([[0., 1., 0., ..., 1., 1., 0.],
       [0., 1., 0., ..., 1., 1., 0.],
       [0., 1., 0., ..., 1., 1., 0.],
       ...,
       [1., 0., 1., ..., 1., 1., 0.],
       [1., 0., 1., ..., 1., 1., 0.],
       [1., 0., 1., ..., 1., 1., 0.]])

In [84]:
data = pd.read_csv('adult.data', header =  None, index_col =False, names = ['age','workclass','fnlwgt','education','educ-num','marital','occupation','relationship','race','gender','capital-gain','capital-loss','hours/week','country','income'])

In [85]:
data.head()

,age,workclass,fnlwgt,education,educ-num,marital,occupation,relationship,race,gender,capital-gain,capital-loss,hours/week,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [87]:
data = data[['age', 'race','education', 'marital', 'country', 'income']]
data.head()

   age    race   education              marital         country  income
0   39   White   Bachelors        Never-married   United-States   <=50K
1   50   White   Bachelors   Married-civ-spouse   United-States   <=50K
2   38   White     HS-grad             Divorced   United-States   <=50K
3   53   Black        11th   Married-civ-spouse   United-States   <=50K
4   28   Black   Bachelors   Married-civ-spouse            Cuba   <=50K

In [112]:
print('Features before encoding:\n', list(data.columns),'\n')
print('Original number of features:\n', data.shape[1], '\n')
data_dummies = pd.get_dummies(data)
print('Features after encoding:\n', list(data_dummies.columns))
print('New number of features after encoding:\n', data_dummies.shape[1], '\n')
print('Increase in the number of features:', data_dummies.shape[1]-data.shape[1])

Features before encoding:
 ['age', 'race', 'education', 'marital', 'country', 'income']

Original number of features:
 6

Features after encoding:
 ['age', 'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'marital_ Divorced', 'marital_ Married-AF-spouse', 'marital_ Married-civ-spouse', 'marital_ Married-spouse-absent', 'marital_ Never-married', 'marital_ Separated', 'marital_ Widowed', 'country_ ?', 'country_ Cambodia', 'country_ Canada', 'country_ China', 'country_ Columbia', 'country_ Cuba', 'country_ Dominican-Republic', 'country_ Ecuador', 'country_ El-Salvador', 'country_ England', 'country_ France', 'country_ Germany', 'country_ Greece', 'country_ Guatemala', 'country_ Haiti', 'country_ Holand-Netherlands', 'country_ Honduras', 'country_ Hong', 'country_ Hungary', 'country_ India', 'country_ Iran', 'country_ Ireland', 'country_ Italy', 'country_ Jamaica', 'country_ Japan', 'country_ Laos', 'country_ Mexico', 'country_ Nicaragua', 'country_ Outlying-US(Guam-USVI-etc)', 'country_ Peru', 'country_ Philippines', 'country_ Poland', 'country_ Portugal', 'country_ Puerto-Rico', 'country_ Scotland', 'country_ South', 'country_ Taiwan', 'country_ Thailand', 'country_ Trinadad&Tobago', 'country_ United-States', 'country_ Vietnam', 'country_ Yugoslavia', 'income_ <=50K', 'income_ >50K']
New number of features after encoding:
 73

Increase in the number of features: 67

In [127]:
features = data_dummies.loc[:, 'age':'country_ Yugoslavia'].values

target = data_dummies.loc[:,'income_ >50K'].values

In [131]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, random_state =0)
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

print('Logistic regression score on the test set: {}'. format(logreg.score(X_test, y_test)))

Logistic regression score on the test set: 0.8184498218892028

In [133]:
df = pd.read_csv('police.csv')
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
10,2005-07-13,16:20,NaN,M,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
11,2005-07-13,19:00,NaN,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
12,2005-07-14,19:55,NaN,M,1979.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
13,2005-07-18,19:30,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
14,2005-07-18,19:45,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
15,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
16,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
17,2005-07-19,23:30,NaN,M,1979.0,26.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
18,2005-07-20,00:05,NaN,M,1955.0,50.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
19,2005-07-24,20:10,NaN,F,1958.0,47.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
20,2005-07-28,12:37,NaN,F,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
21,2005-08-07,16:50,NaN,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
22,2005-08-08,02:09,NaN,M,1955.0,50.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
23,2005-08-18,10:57,NaN,F,1967.0,38.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
24,2005-08-28,01:00,NaN,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Protective Frisk",Arrest Driver,True,16-30 Min,False
25,2005-09-03,16:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
26,2005-09-17,10:54,NaN,M,1964.0,41.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
27,2005-09-21,13:30,NaN,F,1977.0,28.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
28,2005-09-22,22:34,NaN,M,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
29,2005-09-26,01:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91711,2015-12-30,15:42,NaN,M,1974.0,41.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91712,2015-12-30,16:19,NaN,F,1989.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91713,2015-12-30,17:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
91714,2015-12-30,17:39,NaN,M,1996.0,19.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91715,2015-12-30,23:26,NaN,F,1994.0,21.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91716,2015-12-30,23:33,NaN,F,1983.0,32.0,Hispanic,Seatbelt Violation,Seat belt,False,NaN,Citation,False,0-15 Min,False
91717,2015-12-31,00:00,NaN,F,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91718,2015-12-31,00:01,NaN,M,1966.0,49.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
91719,2015-12-31,06:31,NaN,M,1989.0,26.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
91720,2015-12-31,06:32,NaN,M,1975.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
91721,2015-12-31,06:49,NaN,M,1943.0,72.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91722,2015-12-31,07:06,NaN,M,1970.0,45.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91723,2015-12-31,07:14,NaN,M,1978.0,37.0,Hispanic,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91724,2015-12-31,07:27,NaN,M,1997.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91725,2015-12-31,08:14,NaN,F,1960.0,55.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91726,2015-12-31,08:41,NaN,M,1992.0,23.0,White,Speeding,Speeding,False,NaN,No Action,False,0-15 Min,False
91727,2015-12-31,09:17,NaN,F,1995.0,20.0,White,Speeding,Speeding,False,NaN,Warning,False,16-30 Min,False
91728,2015-12-31,13:50,NaN,F,1982.0,33.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91729,2015-12-31,14:21,NaN,F,1988.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
91730,2015-12-31,15:36,NaN,F,1996.0,19.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91731,2015-12-31,16:38,NaN,F,1988.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91732,2015-12-31,19:44,NaN,F,1969.0,46.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91733,2015-12-31,19:55,NaN,F,1974.0,41.0,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False
91734,2015-12-31,20:20,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91735,2015-12-31,20:25,NaN,M,1992.0,23.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False